{cover_enabled, true}.
{deps,[
	{webmachine,"1.10.5",{git,"git://github.com/basho/webmachine",{tag,"1.10.5"}}},
	{riakc,"1.4.1",{git,"git://github.com/basho/riak-erlang-client",{tag,"1.4.1"}}},
	{riakc_pool,"1.4.1",{git,"git://github.com/brb/riakc_pool",{tag,"1.4.1"}}},
	{erlydtl, ".*", {git, "git://github.com/erlydtl/erlydtl", "HEAD"}}
]}.
